*{
    padding :0 ;
    margin  :0 ;
}

body{
    width: 1000%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dedede;
}

.marquee{
    background-color: #ffffffd7;
    color: #0006ff;
    width: 1000px;
}

p{
    margin-bottom: 20px;
    line-height: 1.5em;
}

h2{
    font-size: 17px;
    font-weight: 600;
}

h3{
    font : #fff;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 4px solid #fff;
}

h4{
    font : white;
    padding-top: 10px;
    text-align: left;
    font-size: 15px;
}

/*Halaman Buku*/

.buku {
    padding: 0 6px;
    margin-right: 10px;
    float: left;
    border:1px solid #dedede;
    width: 23%;
}


.foto img {
    padding:5px 0 5px 0;
    width: 100%;
    height: 250px;
}

.judul {
    font-size: 13px;
    font-weight: 600;
    padding:0 0 3px 0;
    text-align: left;
} 

.penulis{
    font-size:10px;
    padding-bottom: 5px;
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    font-size: 20px;
    color: #d4d2db;
}

a:hover{
    color: #000;
}

#container {
    max-width: 1140px;
    text-align: center;
    background: #fff;
    overflow: hidden;
    border: 0px solid #d9d9d9;
    margin : 0px 90px;
    padding: 20px 20px 20px 20px;
}

.header{
    border-radius: 10px 10px 0 0 ;
    padding: 10px 0 0 10px;
    text-align : center;
    background-image: url(isola.jpg);
}

.header h1{
    font-size: 40px;
    color:rgb(14, 13, 13);
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align:center;
}

/* main */

.left{
    width: 280px;
    color:#fff;
    border: 1px solid #17f5f5;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    float: left;
    background-color: #414cad;
}

.left ul{
    list-style-type: none;
}

.left ul li{
    display: block;
}

.left ul li a{
    display: block;
    font-size: 17px;
    border-bottom: 1px dotted #d4d2db;
    margin-bottom: 10px;
    padding: 10px 5px;
    font:  #64bed4;
}

.left ul li a:hover{
    color: #ca1414 ;
}

.middle{
    width: 500px;
    border: 1px solid #dedede;
    padding: 5px;
    margin: 10px;
    float: left;
}

.middle img{
    background-image: url(calculus-purcell.jpg);
    max-width: 200%;
    height: auto;
}

.middle a{
    font-weight: bold;
}

.middle2{
    width: 790px;
    height:100%;
    padding: 5px;
    margin: 10px;
    float: left;
}

.middle2 a{
    font-weight: bold;
}

.right{
    width: 280px;
    color: #fff;
    border: 1px solid #dedede;
    padding: 10px;
    margin: 10px 0 10px 10px;
    float: right;
    background-color: #414cad;
}

.right ul{
    list-style-type: none;
}

.right ul li{
    display: block;
}

.right ul li a{
    display: block;
    font-size: 17px;
    border-bottom: 1px dotted #d4d2db;
    margin-bottom: 10px;
    padding: 10px 5px;
}

.right ul li a:hover{
    color: #ca1414;
}

#footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    color: #6429a8;
    clear: both;
    border: 1px solid #dedede;
    padding: 2px;
}
