


/* MEDIA QUIRIES (Responsive)***********/

@media screen and (max-width:1140px) {
    .container{
        width: 100%;
    }
    .left{
        width: 25%;
        background: #0c7575d7;
    }
    .middle{
        width: 68%;
        float: right;
    }
     .middle2{
        width: 90%;
        float: right;
    }



    .right{
        clear: both;
        padding: 1% 4%;
        width: auto;
        float: none;
        background: #0c7575d7;   
    }
}

/* Untuk ukuran layar 700px kebawah  */

@media screen and (max-width:780px) {
    .header,
    .footer{
        text-align: center;
    }
    .left{
        width: auto;
        float: none;
    }

    .middle{
        width: auto;
        float:  none;
    }

    .right{
        width: auto;
        float: none;
    }
    
    .book{
    width: 100%;
    }
}
